@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
}

body {

}

.error {
  border: 1px solid #f74e5a;
  background-color: #f74e5a;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.success {
  border: 1px solid #02e778;
  background-color: #02e778;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.main-header {
  border: 1px solid #027ac7;
  background-color: #0789dc;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 10px;
}

.main-header .menu-btn {
  cursor: pointer;
}

.main-nav {
  border: 1px solid #027ac7;
  background-color: #acdbfa;
  position: fixed;
  top: 60px;
  width: 30%;
  z-index: 20;
  overflow-y: auto;
  display: none;
}

.main-nav ul li {
  list-style: none;
  width: 100%;
  margin-bottom: 20px;
}

.main-nav ul li:first-child {
  margin-top: 20px;
}

.main-nav ul li a {
  display: block;
  border: 1px solid #027ac7;
  background-color: #0789dc;
  text-align: center;
  font-family: 'Bungee Inline', cursive;
  color: #fff;
  width: 70%;
  margin: 0 auto;
  text-decoration: none;
  transition: color 1s;
}

.main-nav ul li a:hover {
  color: yellow;
}

.main-section {
  margin-top: 60px;
}

.login-form {
  border: 1px solid #027ac7;
  margin: 0 auto;
  margin-top: 20px;
  width: 70%;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  background-color: #eaf5fc;
}

.login-form label {
  display: block;
}

.login-container h1 {
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Aldrich', sans-serif;
  color: #6e6e6f;
}

.login-form [type=text], .login-form [type=password] {
  padding: 5px;
  width: 98%;
  margin-bottom: 20px;
  border: 1px solid #027ac7;
}

.login-form [type=submit] {
  padding: 10px;
  border: 1px solid #027ac7;
  background-color: #0789dc;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  width: 20%;
  cursor: pointer;
}

.dashboard-contents {
  font-family: 'Ubuntu', sans-serif;
}

.dashboard-contents h1 {
  text-align: center;
  color: #555454;
  margin-top: 80px;
  margin-bottom: 20px;
}

.dashboard-contents > ul {
  width: 90%;
  margin: 0 auto;
}

.dashboard-contents .dashboard {
  list-style: none;
  float: left;
  border: 1px solid #027ac7;
  width: 48.5%;
}


.dashboard-contents .dashboard .dashboard-latest-message {
  padding: 10px;
}

.dashboard-latest-message .message {
  margin-bottom: 5px;
}

.dashboard-latest-message ul li {
  list-style: none;
  font-size: 12px;

}

.dashboard-contents .dashboard:last-child {
  margin-left: 2%;
}

.dashboard-contents .dashboard h2 {
  background-color: #027ac7;
  padding: 5px;
  color: #fff;
}

.dashboard .dash-stats-count, .dashboard .dash-stats-unique {
  width: 49.5%;
  float: left;
}

.dashboard .dash-stats-content {
  text-align: center;
  font-size: 180%;
}

.dashboard .dash-stats-title {
  text-align: center;
  margin-top: 5px;
}

.search-logs-contents {
   font-family: 'Ubuntu', sans-serif;
   margin-top: 80px;
}

.search-logs-contents h1 {
  text-align: center;
  color: #555454;
}

.search-logs-contents .search-empty {
  text-align: center;
  color: #555454;
  margin-top: 10px;
}

.search-logs-contents .search-logs-logs ul {
  border: 1px solid #027ac7;
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  height: 400px;
  overflow-y: auto;
}

.search-logs-contents ul li {
  list-style: none;
  margin-bottom: 20px;
}

.search-logs-contents .search-clear-btn {
  padding: 10px;
  border: 1px solid #0789dc;
  background-color: #0789dc;
  cursor: pointer;
  color: #fff;
  margin: 0 auto;
  width: 15%;
  text-align: center;
  margin-top: 20px;
  transition: color 1s;
}

.search-logs-contents .search-clear-btn:hover {
  color: yellow;
}

.messages-contents h1 {
  font-family: 'Ubuntu', sans-serif;
  color: #555454;
  margin-top: 80px;
  text-align: center;
}

.messages-contents .messages-ajax {
  border: 1px solid #0789dc;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  height: 450px;
  overflow-y: auto;
  margin-top: 20px;
}

.messages-contents .messages-ajax ul li {
  list-style: none;
  border: 1px solid #0789dc;
  margin-bottom: 20px;
  padding: 10px;
}

.messages-contents .messages-ajax ul li ul li {
  list-style: none;
  border: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  margin-right: 1%;
}

.messages-contents .messages-ajax ul li .message-del-btn {
  float: right;
  cursor: pointer;
  margin-top: -7px;
  display: none;
}

.stats-contents h1 {
  text-align: center;
  color: #555454;
  margin-top: 80px;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 20px;
}

.stats-contents .stats-counts ul li {
  display: inline-block;
  width: 49%;
}

.stats-contents .stats-counts ul li div {
  width: 60%;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.stats-contents .stats-counts ul li div:first-child {
  font-size: 180%;
  padding: 10px;
  border: 1px solid #0789dc;
  border-bottom: none;
}

.stats-contents .stats-counts ul li div:last-child {
  padding: 10px;
  border: 1px solid #0789dc;
  background-color: #0789dc;
  color: #fff;
}

.stats-contents .stats-nav {
  margin-top: 30px;
  text-align: center;
}

.stats-contents .stats-nav .input_select {
  border: 2px solid #0789dc;
  padding: 10px;
  font-size: 120%;
}

.stats-contents .stats-con-container {
  border: 1px solid #0789dc;
  margin-top: 30px;
}

.stats-contents .stats-con-container h2 {
  color: #555454;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px;
  background-color: #0789dc;
  color: #fff;
}

.stats-contents .stats-con-container .stats-con-contents {
  padding: 10px;
  height: 450px;
  overflow-y: auto;
}

.stats-contents .stats-con-container .stats-con-contents ul li {
  border: 1px solid #0789dc;
  margin: 10px;
  font-family: 'Ubuntu', sans-serif;
  list-style: none;
}

.stats-contents .stats-con-container .stats-con-contents ul li ul li {
  border: none;
  margin-top: 5px;
}

.stats-contents .clear-stats-btn {
  padding: 10px;
  border: 1px solid #0789dc;
  background-color: #0789dc;
  cursor: pointer;
  color: #fff;
  margin: 0 auto;
  width: 15%;
  text-align: center;
  margin-top: 20px;
  font-family: 'Ubuntu', sans-serif;
  transition: color 1s;
}

.stats-contents .clear-stats-btn:hover {
  color: yellow;
}

.myaccount-contents h1 {
  text-align: center;
  color: #555454;
  margin-top: 20px;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 80px;
}

.myaccount-contents .myaccount-form {
  border: 1px solid #0789dc;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 20px;
}

.myaccount-contents .myaccount-form .error {
  border: 1px solid #f74e5a;
  background-color: #f74e5a;
  padding: 10px;
  color: #fff;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
}

.myaccount-contents .myaccount-form .error-message {
  margin-top: 5px;
}

.myaccount-contents .myaccount-form .input_password {
  padding: 5px;
  width: 98%;
  margin-top: 3px;
  border: 1px solid #0789dc;
}

.myaccount-contents .myaccount-form .submit_btn {
  padding: 10px;
  border: 1px solid #0789dc;
  background-color: #0789dc;
  cursor: pointer;
  color: #fff;
  margin: 0 auto;
  width: 30%;
  text-align: center;
  margin-top: 20px;
  transition: color 1s;
}

.main-footer {
  border-top: 1px solid #000;
  padding: 10px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  background-color: #282828;
  font-size: 13px;
  color: #fff;
  margin-top: 30px;
}

.main-footer a {
  color: #fff;
}

.main-footer a:hover {
  color: yellow;
}

@media screen and (max-width: 900px) {
  .search-logs-logs .search-clear-btn, .stats-contents .clear-stats-btn, .myaccount-form .myaccount_btn_container .submit_btn {
    width: 40%;
  }

  .main-nav {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .login-container .login-form button {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .dashboard-contents .dashboard {
    float: none;
    width: 99%;
    margin-left: 0px !important;
    margin-top: 20px;
  }

  .stats-contents .stats-counts ul li {
    display: block;
    width: 99%;
    margin-top: 20px;
  }

  .stats-contents .stats-nav .input_select {
    width: 60%;
  }

  .main-nav {
    width: 100%;
  }
}



.menu {
  background-image: url(/img/menu.png);
  background-repeat: no-repeat;
  padding: 20px 25px;
  background-size: 55px;
  background-position: 0px 2px;
  position: relative;
  margin-top: 120px;
}
