@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
}

.hidden{
  opacity: 0;
}

.visible{
  opacity: 1;
}

.mobile-header, .mini-search-container, .mini-search-btn-container, .mobile-nav-container {
  display: none;
}

.main-header {
  border: 1px solid #027ac7;
  background-color: #0789dc;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 10px 0px;
  z-index: 20;
}

.main-header .logo-container {
  width: 4%;
  text-align: center;
  float: left;
}

.main-header .nav-container {
  width: 100%;
  line-height: 30px;
}

.main-header .nav-container ul li:first-child {
  margin-left: 1%;
}

.main-header .nav-container ul li {
  display: inline-block;
  margin-right: 2%;
}

.main-header .nav-container ul li a {
  font-family: 'Bungee Inline', cursive;
  color: #fff;
  text-decoration: none;
  font-size: 125%;
  transition: color 1s;
}

.main-header .nav-container ul li a:hover {
  color: yellow;
}

.main-header .search-icon {
  position: absolute;
  right: 25px;
  top: 15px;
  cursor: pointer;
}

.search-form {
  position: fixed;
  z-index: 20;
  border: 1px solid #027ac7;
  background-color: #fff;
  right: 0;
  width: 19%;
  padding: 0;
  top: 54px;
  font-family: 'Ubuntu', sans-serif;
  display: none;
}

.search-form .search-input {
  width: 70%;
  padding: 5px;
  border: 1px solid #fff;
  float: left;
  outline: none;
}

.search-form .submit-btn {
  padding: 5px;
  border: 1px solid #0789dc;
  background-color: #0789dc;
  cursor: pointer;
  float: left;
  color: #fff;
}

.search-form .submit-btn:hover {
  color: yellow;
}

.main-contents {
  margin-top: 54px;
}

.textition-container {
  position: absolute;
  z-index: 10;
  text-align: center;
  color: #fff;
  font-family: 'Aldrich', sans-serif;
  font-size: 200%;
}

.post-message-container {
  margin-top: 80px;
}

.post-message-container .post-message-btn  {
  border: 1px solid #027ac7;
  background-color: #0789dc;
  width: 20%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  transition: color 1.5s;
}

.post-message-container .post-message-btn:hover {
  color: yellow;
}

.post-message-container .post-message-form {
  border: 1px solid #027ac7;
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  display: none;
}

.post-message-container .post-message-form #name  {
  border: 1px solid #027ac7;
  padding: 5px;
  width: 48.5%;
}

.post-message-container .post-message-form #gender {
  border: 1px solid #027ac7;
  padding: 5px;
  width: 49%;
}

.post-message-container .post-message-form #message {
  width: 98.3%;
  margin-top: 5px;
  height: 200px;
  padding: 5px;
}

.post-message-container .post-message-form .message-str {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

.post-message-container .post-message-form .btn-container {
  text-align: center;
  margin-top: 10px;
}

.post-message-container .post-message-form #submit {
  border: 1px solid #027ac7;
  background-color: #0789dc;
  width: 25%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  transition: color 1.5s;
}

.post-message-container .post-message-form #submit:hover {
  color: yellow;
}

.post-message-container .post-message-form .post-message-form-loader-container {
  text-align: center;
  margin-top: 10px;
  display: none;
  font-family: 'Ubuntu', sans-serif;
  color: green;
}

.post-error {
  text-align: center;
  color: red;
}

.single-cat-contents li, .search-results ul li {
  border: 1px solid #027ac7;
  width: 90%;
  margin: 0 auto;
  list-style: none;
  padding: 10px;
  margin-top: 30px;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 10px 10px 8px #c0c6c6;
}

.single-new-message {
  display: none;
  padding-bottom: 25px !important;
}

.single-cat-contents li p {
  margin-bottom: 10px;
  font-size: 18px;
}

.single-cat-contents li p img {
  display: none;
}

.single-cat-contents li ul li, .search-results ul li ul li {
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 15px;
  float: left;
  width: auto;
  margin-right: 2%;
  box-shadow: none;
}

.post-message-loadmore-container {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 50px;
}

.post-message-loadmore-container #loadmore {
  border: 1px solid #027ac7;
  background-color: #0789dc;
  width: 25%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  transition: color 1.5s;
}

.post-message-loadmore-container #loadmore:hover {
  color: yellow;
}

.post-message-loader-container {
  text-align: center;
  margin-top: 40px;
  display: none;
}

.home-header {
  margin: 0 auto;
  margin-top: 20px;
  width: 95%;
  font-family: 'Ubuntu', sans-serif;
  background: -webkit-linear-gradient(left top, #0789dc, #fff);
  background: -moz-linear-gradient(left top, #0789dc, #fff);
  background: -ms-linear-gradient(left top, #0789dc, #fff);
  background: -o-linear-gradient(left top, #0789dc, #fff);
  padding: 10px;
  color: #fff;
}

.home-categories {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.home-categories li {
  float: left;
  list-style: none;
  border: 1px solid #027ac7;
  width: 29%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 2%;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 8px 10px 2px #7a7676;
}

.home-categories li h3 {
  border-bottom: 1px solid #027ac7;
}

.home-categories li h3 a {
  text-decoration: none;
  color: #000;
}

.home-categories li ul li {
  float: none;
  list-type: none;
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  font-size: 14px;
  box-shadow: none;
}

.search-contents {
  margin-top: 80px;
}

.search-contents h3 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
}

.search-shortkeywords {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: red;
  font-family: 'Ubuntu', sans-serif;
}


.main-footer {
  border-top: 1px solid #000;
  padding: 10px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  background-color: #282828;
  font-size: 13px;
  color: #fff;
  margin-top: 30px;
}

.main-footer a {
   color: #fff;
}

.main-footer a:hover {
  color: yellow;
}

.error-contents h2 {
  margin-top: 80px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: red;
}

.error-contents .error {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 20px;
  color: red;
}


.ads-banner {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .post-message-container .post-message-form {
    text-align: center;
  }

  .post-message-container .post-message-form #name {
    width: 48%;
  }
  .post-message-container .post-message-form #gender {
    width: 48%;
  }
}

@media screen and (max-width: 1050px) {
  .home-categories li {
    width: 45%;
  }

  .home-categories li:last-child {
    width: 95%;
  }
}

@media screen and (max-width: 1030px) {
  .main-header .nav-container ul li {
    font-size: 95%;
  }
}

@media screen and (max-width: 977px) {
  .main-header .nav-container ul li {
    font-size: 80%;
  }
}

@media screen and (max-width: 850px) {
  .main-header .nav-container ul li {
    font-size: 70%;
  }

  .home-categories li {
    width: 43%;
  }

  .home-categories li:last-child {
    width: 91.1%;
  }
}

@media screen and (max-width: 800px) {
  .main-header {
    display: none;
  }

  .mobile-header {
    display: block;
  }

  .mobile-header {
    border: 1px solid #027ac7;
    background-color: #0789dc;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 10px 0px;
    z-index: 20;
    padding: 20px 10px;
  }

  .mobile-menu-container {
    width: 55px;
    float: left;
  }

  .mobile-header .menu-btn {
    cursor: pointer;
  }

  .mobile-header .mobile-logo-container {
    float: left;
    margin-left: 10px;
  }

  .mobile-header .mobile-logo-container img {
    width: 40px;
  }

  .mobile-header .mobile-search-container {
    border: 1px solid #ddd;
    float: left;
    background-color: #fff;
    margin-left: 20px;
    width: 70%;
    text-align: right;
  }

  .mobile-header .mobile-search-container .mobile-search-input {
    padding: 9px;
    border: 1px solid #fff;
    width: 80%;
    outline: none;
  }

  .mobile-header .mobile-search-container .mobile-submit-btn {
    padding: 9px;
    border: 1px solid #027ac7;
    background-color: #0789dc;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
  }

  .mobile-nav-container {
    display: block;
    border: 1px solid #027ac7;
    background-color: #acdbfa;
    position: fixed;
    top: 83px;
    width: 50%;
    overflow-y: auto;
    left: -100%
  }

  .mobile-nav-container ul li {
    list-style: none;
    margin-bottom: 20px;
    font-family: 'Bungee Inline', cursive;
    width: 100%;
    text-align: center;
  }

  .mobile-nav-container ul li:first-child {
    margin-top: 20px;
  }

  .mobile-nav-container ul li a {
    display: block;
    border: 1px solid #027ac7;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    background-color: #0789dc;
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }

  .home-categories li {
    float: none;
    width: 93%;
    margin-bottom: 40px;
  }

  .home-categories li:last-child {
    width: 93%;
  }

  .post-message-container {
    margin-top: 100px;
  }

  .post-message-container .post-message-form {
    width: 80%;
  }

  .post-message-container .post-message-form #name {
    width: 97%;
    margin-bottom: 5px;
  }
  .post-message-container .post-message-form #gender {
    width: 50%;
  }
}

@media screen and (max-width: 720px) {
  .mobile-header .mobile-search-container .mobile-search-input {
    width: 77%;
  }
}

@media screen and (max-width: 625px) {
  .mobile-header .mobile-search-container .mobile-search-input {
    width: 73%;
  }
}

@media screen and (max-width: 535px) {
  .homepage-header {
    display: none;
  }

  .mobile-header .mobile-search-container {
    width: 60%;
  }

  .mobile-header .mobile-search-container .mobile-search-input {
    width: 70%;
  }

  .main-contents {
    margin-top: 100px;
  }
}

@media screen and (max-width: 500px) {
  .post-message-container .post-message-btn {
    width: 40%;
  }

  .single-cat-contents  li ul li {
    float: none;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 480px) {
  .mobile-header .mobile-search-container .mobile-search-input {
    width: 67%;
  }
}

@media screen and (max-width: 450px) {
  .mobile-header .mobile-search-container .mobile-search-input {
    width: 65%;
  }
}

@media screen and (max-width: 410px) {
  .mobile-header .mobile-search-container .mobile-search-input {
    width: 60%;
  }
}

@media screen and (max-width: 360px) {

  .mobile-header .mobile-search-container {
    display: none;
  }

  .mini-search-btn-container {
    display: block;
    position: absolute;
    right: 45px;
    top: 25px;
  }

  .mini-search-btn-container img {
    width: 25px;
    cursor: pointer;
  }

  .mini-search-container {
    border: 1px solid #027ac7;
    background-color: #fff;
    position: fixed;
    top: 83px;
    width: 100%;
    z-index: 20;
    text-align: right;;
  }

  .mini-search-container .mini-search-input {
    width: 72%;
    padding: 10px;
    border: 1px solid #fff;
    outline: none;
  }

  .mini-search-container .mini-submit-btn {
    padding: 9px;
    border: 1px solid #027ac7;
    background-color: #0789dc;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
  }

  .mobile-nav-container {
    width: 100%;
  }
}

@media screen and (max-width: 305px) {
  .mini-search-container .mini-search-input {
    width: 68%;
  }
}



.menu {
  background-image: url(/img/menu.png);
  background-repeat: no-repeat;
  padding: 20px 25px;
  background-size: 55px;
  background-position: 0px 12px;
  position: relative;
  margin-top: 120px;
}
