<ul>
    <?php foreach ($stats as $stat): ?>
        <li>
            <ul>
                <li>Category: <?= $stat['category'] ?></li>
                <li>IP Address: <?= $stat['ip'] ?></li>
                <li>Date: <?= $stat['date'] ?></li>
            </ul>
        </li>
    <?php endforeach; ?>
</ul>